version: "3"
services:
  site:
    container_name: site
    image: site
    restart: always
    build: .
    ports:
      - "80:3000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    # volumes:
    #   - ./data:/data/db
    ports:
      - "27017:27017"
