#familyImageContainer {
  background-color: white;
}

.familyImage {
  padding: 20px;
  text-align: center;
}

.familyImage img {
  max-width: 60%;
}

#headContainer {
  min-width: 100%;
  width: 100%;
}

#head {
  text-align: center;
}

#body {
  height: 100%;
  text-align: center;
  width: 50%;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bodyText {
  width: 100%;
  margin: auto;
  text-align: left;
}

.bodyFoot {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  text-align: left;
}
