#page {
  height: 100%;
  width: 100%;
}
#main-container {
  height: 100%;
  width: 70%;
}

#greeting {
  padding-top: 6%;
  text-align: center;
  letter-spacing: 0.13em;
}

#heading {
  padding-top: 10%;
  padding-bottom: 2%;
  text-align: center;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  #main-container {
    width: 90%;
  }

  #footer {
    padding-bottom: 15%;
  }
}
