.main-container {
  /* height: 100%;
  width: 50%;
  margin: auto; */
  text-align: center;
}

.left-align-container {
  text-align: left;
  display: block;
}

.contact-content {
  display: block;
  letter-spacing: 0.08em;
  overflow: wrap;
}

.link-content {
  letter-spacing: 0.08em;
  word-wrap: break-all;
}

.text-content {
  word-break: break-all;
  display: inline-block;
}

.contact-content a,
.link-content a,
.text-content {
  text-decoration: none;
  color: black;
  word-break: break-all;
}

.contact-content a :hover,
.link-content :hover {
  text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .main-container {
    width: 90%;
  }

  .footer {
    padding-bottom: 15%;
  }
}
