/*
#top-nav a {
  color: white;
}

#home {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

#logout,
#login,
#family,
#game,
#about-me {
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  float: right;
  position: relative;
}

#logout.active,
#login.active,
#home.active,
#family.active,
#game.active,
#about-me.active {
  border-bottom: 2px solid #b3e6f9;
}

#logout.hover,
#login.hover,
#home:hover,
#family:hover,
#game:hover,
#about-me:hover {
  color: #b3e6f9;
}

a {
  text-decoration: none;
  padding: 5px;
}

.hidden {
  visibility: hidden;
} */

.navbar-brand a {
  margin-right: 0;
}

#no-margins {
  margin: 0;
}
