.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  min-height: 100vh !important;
  max-width: 300px;
  z-index: 100;
  vertical-align: text-top;
}

.left {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  padding-left: 1%;
}

.right {
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  padding-right: 1%;
}

.link {
  display: inline-block;
}

#sidebar-wrapper {
  min-height: 100vh !important;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.link-text {
  font-size: 1.1rem;
  height: 10px;
}

/* @media screen and (min-width: 0px) and (max-width: 1024px) {
  .link-text {
    font-size: 2vw;
  }
} */
