.title {
  font-weight: 500;
  font-size: 150%;
  text-align: left;
  letter-spacing: 0.06rem;
}

code {
  /* background-color: lightgray; */
  color: black;
  padding: 1px;
  border: 1px solid darkgray;
}

.box {
  padding: 1%;
  border: 1px solid black;
  width: fit-content;
}
