.miniscule-spacer {
  margin-bottom: 1%;
}

.tiny-spacer {
  margin-bottom: 2%;
}

.small-spacer {
  /* margin-bottom: 4%; */
  padding: 4% 0;
}

.medium-spacer {
  margin-bottom: 8%;
}

.page {
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 70%;
  margin: auto;
}

.heading {
  letter-spacing: 0.1em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  justify-content: left;
}

.tall {
  height: 100%;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .download-link {
    display: none;
  }

  .main-container {
    width: 90%;
  }

  .footer {
    padding-bottom: 15%;
  }
}
